@import "tailwindcss";
@plugin "daisyui";

@theme{
  --color-header: #008000;
  --color-title: #ADADAD;
  --color-main: #FFFFFF;
  --color-card: #0f0f0f;

  --text-heading: 32px;
  --text-subheading: 25px;
  --text-paragraph: 16px;
}